html {
  flex-shrink: 0;
  display: block;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;

}

body {
    margin: 0;
    font-family: "Helvetica", sans-serif;
    color: seashell;
    background-color: black;
    font-size: 22px;
    text-align: center;

}

div {
  display: block;
}

 .header {
width: 100%;
position: fixed;
z-index: 4;
top: 0;
height: 65px;
background-color: black;
border-bottom: 1px solid seashell;
align-items: center;

}

.header img {
    float: left;
    height: 50px;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 10px;
    line-height: 15px;
    border-radius: 4px;
  }

}

.flex-container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;

}


header a {
  text-decoration: underline;

}

a {
  color: seashell;

}

.navbar {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
}

}

.content {
  padding-top: 78px;
opacity: 0.9;
width: 1200px;
margin: auto;

}

/*Mission*/

#mission {
    display: flex;
    margin: 0 auto;
    height: 700px;
    width: 1200px;
    background: url('../images/img-mission-background.jpg');
    background-size: cover;
    flex-direction: column;
    padding-top: 70px;
    align-items: center;
    justify-content: center;

  }

  #mission > *{
    width: 100%;
    background: black;
    color: white;
    text-align: center;
    flex-direction: column;

  }
nav span {
    display: inline-block;
    padding: 20px 10px;

}

#store {

  height: 700px;
  width: 1000px;
  margin: auto;
  padding-top: 70px;
  display: flex;
  flex-direction: row;
}


.item {
  padding: 5px;

}

.item img {
  height: 200px;
  margin: 10px;
  display: block;

}

.item span {
  display: block;
  padding: 5px;
  font-weight: bold;
  text-align: center;

}

/*Location*/

#locations {
    background-image: url('../images/img-locations-background.jpg');
    height: 500px;
    padding-top: 70px;

}

#locations .flex-container {
  margin: auto;
  width: 1100px;
  display: flex;
  flex-direction: row;

}

.flex-container.locations {
  padding-top: 5px;

}

.content {
    padding-top: 69px;
    opacity: 0.9;
    width: 1200px;
    height: auto;
    margin: auto;

}


.location {
    width: 300px;
    opacity: 1.0;
    padding: 10px;
    margin: 5px 20px;
    background-color: black;
    flex-basis: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

h2, h3, h4 {
  margin: 0;
  padding: 10px;

}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;

}

    /* Contact*/

    #contact {
    height: 200px;

}

    /*Footer*/

    footer {
    text-align: left;
    padding-left: 20px;

}
